# Log
Log
*.Log
npm-debug.Log*
yarn-debug.Log*
yarn-error.Log*
pnpm-debug.Log*
lerna-debug.Log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
